@charset"utf-8";

body{
    margin: 0px;
    padding: 0px;
}

form label {
  display: inline-block;
  width: 225px;
  font-weight: bold;
}

div#formulario {
    display: block;
    width: 486px;
    height: 541px;
    margin: auto;
}